<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/boards/modify?id={{id}}">
      <ul>
        <li>
          <p>글제목</p>
          <input type="text" name="{{title}}" />
        </li>
        <li>
          <p>이름</p>
          <input type="text" name="{{writer}}" />
        </li>
        <li>
          <p>내용</p>
          <textarea name="content"></textarea>
        </li>
      </ul>
      <button type="submit">등록</button>
    </form>
  </body>
</html>
